@import '../../assets/partials/variables.scss';

.header-wrapper {
  padding: 34px 0;
  border-bottom: 2px solid $darkBlue;

  .logo {
    text-align: center;
  }

  .main-nav {
    padding-top: 15px;

    ul {
      float: right;
      // margin-right: 120px;

      li {
        &.active {

          a {
            padding-left: 20px;
            padding-right: 20px;
            color: white;
          }
        }
      }
    }
  }
}
