<section class="header-wrapper">
  <div class="row">
    <div class="col-md-3 col-md-push-8 col-sm-5 col-sm-push-7 main-nav">
      <ul class="nav nav-pills">
        <li role="presentation">
          <a (click)="displaySignInForm()">Sign In</a>
        </li>
        <li class="active" role="presentation">
          <a>Register</a>
        </li>
        <li role="presentation">
          <a>EN</a>
        </li>
      </ul>
    </div>

    <div class="col-md-4 col-md-pull-3 col-md-offset-4 col-sm-7 col-sm-pull-5 logo">
      <img [src]="notificationManagerLogo" alt="logo"/>
    </div>
  </div>
</section>