<section class="header-wrapper">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 logo">
      <img [src]="notificationManagerLogo" alt="logo"/>
    </div>

    <div class="col-md-3 main-nav">
      <ul class="nav nav-pills">
        <li role="presentation">
          <a>Sign In</a>
        </li>
        <li class="active" role="presentation">
          <a>Register</a>
        </li>
        <li role="presentation">
          <a>EN</a>
        </li>
      </ul>
    </div>
  </div>
</section>