$redClinician: #a91c30;

$darkBlue: #005b7d;
$lightBlue: #D9E7EC;

$grey: #EEEEEE;
$darkGrey: #DDDDDD;
$lightGray: #F5F5F5;
$lighterGray: #F9F9F9;

$hyperLink: #336699;

$homeBGColor: #dae7ed;

$mainNavBGColor: #333333;
