.contact-form-wrapper {

  .section-title {
    margin-bottom: 20px;
  }

  h4 {
    margin-top: 0;
  }

  .required-indicator {
    &:after {
      content: "*";
      color: red;
    }
  }

  .modal-header {
    padding: 19px 20px;
    .modal-title {
      text-align: left;
    }

    img {
      top: 26px;
      right: 20px
    }
  }

  .modal-body {
    padding: 30px 20px 40px;

    @media (max-width: 767px) {
      padding: 30px 20px;
    }

    input[type="email"],input[type="text"], select {
      height: 35px;
      width: 275px;

      @media (max-width: 767px) {
        width: 100%;
      }
    }

    .businessAddress {
      padding-bottom: 5px;
    }

    .communication {
      .form-group:last-child {
        margin-bottom: 0;
      }
    }

    .checkbox {
      margin-bottom: 20px;
    }

    .split {
      input {
        display: inline-block;
        width: 53%;

        &:last-child {
          width: 46%;
        }

        @media (max-width: 767px) {
          width: 100%;
          margin-bottom: 15px;

          &:last-child {
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .modal-footer {
    padding: 22px;

    button {
      height: 40px;
      padding: 10px 25px;

      &:last-child {
        margin-left: 10px;
      }

      &.btn-primary {
        background: black;
        color: white;
      }
    }
  }
}