<section class="submit-notification-wrapper">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h1 class="title">Submit a Notification</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 title-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu porttitor dolor. Ut neque odio, lobortis ac metus in, fringilla tempus mi
    </div>
  </div>

  <div class="row required-field-note">
    <div class="col-sm-12 col-md-12">
      Required Fields
    </div>
  </div>

  <div class="row form-wrapper">
    <form [formGroup]="notificationSubmissionForm">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-2">
            <label class="required-indicator" for="drug-name">Drug Name:</label>
          </div>

          <div class="col-sm-3">
            <select class="form-control" id="drug-name" formControlName="drugName">
              <option value="null">Select</option>
              <option value="test">Test</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-2">
            <label class="required-indicator" for="request-type">Request Type:</label>
          </div>

          <div class="col-sm-3">
            <select class="form-control" id="request-type" formControlName="requestType">
              <option value="null">Select</option>
              <option value="test">Test</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <div class="col-sm-2">
            <label class="required-indicator" for="message-title">Message Title:</label>
          </div>

          <div class="col-sm-3">
            <input class="form-control" type="text" id="message-title" formControlName="messageTitle" placeholder="Enter Title">
          </div>
        </div>
      </div>

      <div class="col-sm-12 file-upload">
        <div class="form-group">
          <div class="col-sm-12">
            <label class="required-indicator">Upload File (Max: 5MB):</label>
          </div>

          <div (drop)="onDrop($event)"
               (dragover)="onDragOver($event)"
               (dragleave)="onDragLeave(element)"
               (dragenter)="onDragEnter(element)" class="col-sm-7">
            <div class="upload-container" #element>
              <div class="instruction">
                <div>
                  <i class="fa fa-2x fa-cloud-upload" aria-hidden="true"></i>
                </div>
                <div>
                  Drag and drop your files, or 
                  <label for="file-explorer">
                    <input id="file-explorer" type="file" (change)="handleFileUploads($event)">browse
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 file-list">
          <a *ngFor="let file of notificationSubmissionForm.controls.uploadedFiles.value; let i = index">
            <span>{{file.name}}</span>
            <span class="size">({{file.size}} K)</span>
            <img (click)="notificationSubmissionForm.controls.uploadedFiles.removeAt(i)" [src]="closeIcon">
          </a>
        </div>
      </div>

      <div class="col-sm-12 comments">
        <div class="form-group">
          <div class="col-sm-12">
            <label for="comments">
              Add comment for CPhA:
            </label>
          </div>

          <div class="col-sm-7">
            <textarea  id="comments" rows="4"></textarea>
          </div>
        </div>
      </div>

      <div class="col-sm-12 send">
        <div class="form-group">
          <div class="col-sm-12">
            <label>
              <input type="radio" formControlName="send" value="now"> Send now
            </label>

            <label>
              <input type="radio" formControlName="send" value="later"> Send later
            </label>
          </div>
        </div>
      </div>


      <div class="col-sm-12 repeat" formGroupName="repeatMessage">
        <div class="form-group">
          <div class="col-sm-12">
            <label>
              <input type="checkbox" formControlName="repeat"> Repeat message
            </label>
          </div>
        </div>

        <div *ngIf="notificationSubmissionForm.controls.repeatMessage.controls.repeat.value" class="col-sm-12 repeat-times">
          <div class="col-sm-2">
            <label class="required-indicator" for="num-times"> Number of Times:</label>
          </div>

          <div class="col-sm-3">
            <select class="form-control select-times" id="num-times" formControlName="repeatTimes">
              <option *ngFor="let num of [0,1,2,3,4,5]" [value]="num">{{num}}</option>
            </select>
          </div>
        </div>


        <ng-container *ngIf="notificationSubmissionForm.controls['repeatMessage'].controls.repeatTimes.value"
                      formArrayName="dates">
          <div class="col-sm-12 repeat-dates" *ngFor="let date of dates.controls; let i = index;"
               [formGroup]="date">
            <div class="col-sm-2">
              <label class="required-indicator" for="num-times">Dates {{ i + 1 }}:</label>
            </div>

            <div class="col-sm-10">
              <input class="form-control date" type="text" placeholder="DD/MM/YYYY" formControlName="date">
              <input class="form-control description" type="text" placeholder="Description" formControlName="description">
            </div>
          </div>
        </ng-container>

      </div>

      <div class="col-sm-12 geo-targets">
        <div class="form-group">

          <div class="col-sm-12 geo-target-section">
            <label class="required-indicator">Geo-targeting</label>
          </div>

          <div class="col-sm-8" formArrayName="geoTargeting">
            <div class="col-sm-4" *ngFor="let province of notificationSubmissionForm.controls.geoTargeting.controls">
              <label [formGroup]="province">
                <input type="checkbox" formControlName="selected"> {{province.controls.name.value}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="button-row col-sm-7">
        <button [disabled]="notificationSubmissionForm.pristine" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button [disabled]="notificationSubmissionForm.pristine || notificationSubmissionForm.invalid" [disabled]="" class="btn btn-primary" (click)="preview()">Preview</button>
      </div>

    </form>

  </div>

</section>
