@import '../../assets/partials/variables.scss';

.login-wrapper {
  color: #444444;

  .modal-body {
    .form-group {
      &:first-child {
        margin-bottom: 30px;
      }

      margin-bottom: 20px;
    }

    .forgot {
      text-align: center;
      margin-bottom: 60px;
      font-size: 1.071rem;

      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }

    .sign-up {
      text-align: center;
      font-size: 1.286rem;
      color: #000000;

      span {
        font-weight: bold;
      }
    }
  }
}