@import '../../assets/partials/variables.scss';

.login-wrapper {
  color: #444444;

  .modal-header {
    padding: 10px;
    border-color: #CCCCCC;

    .modal-title {
      text-align: center;
      color: #444444;
      font-size: 1.571rem;
    }

    img {
      position: absolute;
      top: 19px;
      right: 15px;
    }
  }


  .modal-body {
    background-color: #FAFAFA;
    padding: 60px 30px 40px;

    @media (max-width: 767px) {
      padding: 30px 15px;
    }

    .form-group {
      &:first-child {
        margin-bottom: 30px;
      }

      margin-bottom: 20px;
    }

    input[type="text"],
    input[type="password"] {
      font-size: 1.286rem;
      height: 50px;
    }

    input[type="checkbox"] {
      top: -4px;
    }

    input::-moz-placeholder {
      font-size: 1.286rem;
      color: #999999;
    }

    .checkbox {
      font-size: 1.071rem;
    }

    .buttons {
      margin-top: 50px;
      text-align: center;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        margin-top: 30px;
      }

      button {
        width: 300px;
        background-color: $primaryButtonColor;
        color: white;
        height: 46px;
        font-size: 1.286rem;
      }
    }

    .forgot {
      text-align: center;
      margin-bottom: 60px;
      font-size: 1.071rem;

      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }

    .sign-up {
      text-align: center;
      font-size: 1.286rem;
      color: #000000;

      span {
        font-weight: bold;
      }
    }
  }
}