@import '../../assets/partials/variables.scss';

.report-wrapper {
  padding: 30px 150px;

  .action-buttons-row {
    div {
      display: inline-block;
    }
  }

  > div {
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 20px;
  }


  .btn-default {
    border-color: $primaryButtonColor;
    color: $primaryButtonColor;
  }

  .filters {
    text-align: right;
  }

  .reports-table {
    padding: 20px 10px;
    border: 1px solid $darkGrey;
    border-radius: 5px;
    background-color: white;
  }

  .paginator {
    text-align: center;

    /deep/ .pagination {
      margin: 10px 0;
      font-size: 1rem;

      li {
        &.active {
          a {
            color: #666666;
            background-color: #EEEEEE;
            border-color: #DDDDDD;
          }
        }

        a {
          color: $darkBlue;
        }
      }
    }

  }
}