@import '../../assets/partials/variables.scss';

.report-wrapper {
  padding: 30px 150px;

  .action-buttons-row {
    div {
      display: inline-block;
    }
  }

  > div {
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 20px;
  }


  .btn-default {
    border-color: $primaryButtonColor;
    color: $primaryButtonColor;
  }

  .filters {
    text-align: right;
  }
}