@import '../../assets/partials/variables.scss';

.report-wrapper {
  padding: 30px 150px;

  @media (max-width: 991px) {
    padding: 30px 20px;
  }

  .hide {
    @media (max-width: 767px) {
      display: block !important;
    }
  }

  > div {
    margin-bottom: 20px;
  }

  .action-buttons-row {
    > div {
      padding-left: 7px;
      padding-right: 7px;

      &:first-child {
        padding-left: 0;
      }
    }

    .btn {
      padding: 7px 20px;
      width: 100%;
      height: 38px;
    }

    .btn-default {
      border-color: $primaryButtonColor;
      color: $primaryButtonColor;
    }

    //> div {
    //  display: inline-block;
    //  margin-top: 10px;
    //  margin-right: 7px;
    //  // margin-bottom: 10px;
    //
    //  button {
    //    width: 160px;
    //  }
    //}
  }

  .filters {
    text-align: right;
    padding-top: 15px;
    cursor: pointer;
  }

  .report-form {
    .form-group {
      padding-right: 5px;
      padding-left: 5px;
    }

    .search {
      padding-right: 26px;

      @media (min-width: 992px) {
        &:after {
          position: absolute;
          height: 56px;
          top: 0;
          background: #d1d1d1;
          width: 1px;
          right: 0;
          content: "";
        }
      }

      @media (max-width: 991px) {
        padding-right: 0;
      }
    }

    .req-type {
      padding-left: 26px;

      @media (max-width: 991px) {
        padding-left: 5px;
      }
    }

    label {
      font-size: 0.8rem;
      color: #666666;
      text-transform: uppercase;
    }

    .date-range {
      .input-group-addon {
        background-color: white;
        border-right: 0;
      }

      input {
        border-left: 0;
      }
    }

    .reset-filter {
      padding-left: 0;
      padding-right: 0;
      padding-top: 25px;
      text-align: right;

      @media (max-width: 991px) {
        text-align: left;
        padding-top: 0;
      }

      .btn-link {
        padding: 0;
      }
    }
  }

  .reports-table {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    border: 1px solid $darkGrey;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 0;

    //@media (max-width: 767px) {
    //  overflow: scroll;
    //  overflow: -moz-scrollbars-horizontal;
    //}

    @media (max-width: 991px) {
      overflow-x: scroll;
    }

    > div {
      padding: 0;
    }

    .table {
      // table-layout:fixed;
      margin-bottom: 0;

      .sort {
        width: 7px;

        &.up {
          position: absolute;
          top: 10px;
        }

        &.down {

        }
      }

      tr th, tr td {
        @media (max-width: 991px) {
          min-width: 200px;
        }

        @media (max-width: 767px) {
          min-width: 140px;
        }
      }

      th {
        span {
          padding-right: 30px;
        }

        div {
          display: inline-block;
        }
      }

      tbody {
        tr {
          &:hover {
            background-color: #D9E7EC;
          }
        }
      }

      .file {
        width: 80px;
        min-width: 80px !important;
      }

      //.file {
      //  @media (max-width: 991px) {
      //    position: absolute;
      //    width: 80px;
      //    right: 0;
      //    min-width: 80px !important;
      //    max-width: 80px !important;
      //  }
      //}

      // tr th:last-child,
      // tr td:last-child {
      //  width: 50px;
      //  min-width: 50px;
      //  max-width: 50px;
      //}

      td {
        word-wrap:break-word;
        word-break:break-all;
        padding: 10px;
      }
    }
  }

  .paginator {
    text-align: center;
    margin-bottom: 0;

    /deep/ .pagination {
      margin: 10px 0;
      font-size: 1rem;

      li {
        &.active {
          a {
            color: #666666;
            background-color: #EEEEEE;
            border-color: #DDDDDD;
          }
        }

        a {
          color: $darkBlue;
          padding: 6px 15px;
        }
      }
    }
  }
}