/* You can add global styles to this file, and also import other style files */

@import './assets/partials/variables.scss';

html {
  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #000000;
  line-height: 1.250rem;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  h1 {
    font-size: 2.286rem;
  }

  h2 {
    font-size: 1.429rem;
  }

  h3 {
    font-size: 1.286rem;
  }

  h4 {
    font-size: 1.143rem;
  }

  a {
    color: $hyperLink;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.250;
  }

  .no-padding {
    padding: 0;
  }

  bold {
    font-weight: bold;
  }

  .btn-primary {
    background-color: $primaryButtonColor;
    color: white;
  }

  input[type=checkbox] {
    height: 15px;
    width: 20px;
  }


  .align-center {
    text-align: center;
  }

  .modal.fade {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .modal-dialog {
    margin: 0;
  }

  .hide {
    display: none;
  }

  hr {
    border-color: #d1d1d1;
  }

  .contact-form-modal {
    width: 750px;
  }

  .modal-header {
    padding: 10px;
    border-color: #CCCCCC;

    .modal-title {
      text-align: center;
      color: #444444;
      font-size: 1.571rem;
    }

    img {
      position: absolute;
      top: 19px;
      right: 15px;
    }
  }

  .modal-body {
    background-color: #FAFAFA;
    padding: 60px 30px 40px;

    @media (max-width: 767px) {
      padding: 30px 15px;
    }

    input,
    input[type="text"],
    input[type="password"] {
      font-size: 1.286rem;
      height: 50px;
    }

    input[type="checkbox"] {
      top: -20px;
    }

    input::-moz-placeholder {
      font-size: 1.286rem;
      color: #999999;
    }

    label {
      color: #666666;
    }

    .checkbox {
      font-size: 1.071rem;
    }

    .buttons {
      margin-top: 50px;
      text-align: center;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        margin-top: 30px;
      }

      button {
        width: 300px;
        background-color: $primaryButtonColor;
        color: white;
        height: 46px;
        font-size: 1.286rem;
      }
    }
  }
}