<section class="account-wrapper">

  <div class="row title">
    <div class="col-md-12 col-sm-12">
      <h1>Account Settings</h1>
    </div>
  </div>

  <div class="row sub-title">
    <div class="col-md-12 col-sm-12">
      <h2>Profile Information</h2>
    </div>
  </div>

  <div class="row content">
    <div class="col-md-6 col-sm-6 address">
      <div class="section-title col-md-12">
        <h4>Contact Information</h4>
        <a>Edit</a>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <label>Business Address:</label>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6">
          <span>1 Main St <br>
            Ottawa, ON K1K 1K1
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <label>Mailing Address:</label>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6">
          <span>Same as above</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <label>Telephone #:</label>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6">
          <span>613-222-2222</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <label>Email Address:</label>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6">
          <span>email@address.com</span>
        </div>
      </div>

    </div>
    <div class="col-md-6 col-sm-6 user-info">
      <div class="section-title col-md-12">
        <h4>Username</h4>
        <a>Edit</a>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <label>Current username:</label>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6">
          <span>Manufacturer #4564</span>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 password">
      <div class="section-title col-md-12">
        <h4>Password</h4>
        <a>Edit</a>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <label>Current password:</label>
        </div>

        <div class="col-md-8 col-sm-6 col-xs-6">
          <span>**************</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row divider">
    <div class="col-md-12">
      <hr>
    </div>
  </div>

  <div class="row sub-title">
    <div class="col-md-12 col-sm-12">
      <h2>Notification Preferences</h2>
    </div>
  </div>

  <div class="row content alerts">
    <div class="col-md-6 col-sm-6 product-alerts">
      <div class="section-title col-md-12">
        <h4>Product Alerts</h4>
        <a>Edit</a>
      </div>

      <div class="row">
        <div class="col-md-12 content-sub-title">
          <label>Notify me of the following:</label>
        </div>

        <div class="col-md-12">
          <img [src]="OK_ICON">
          <label>Lorem ipsum dolor</label>
        </div>

        <div class="col-md-12">
          <img [src]="NO_BAR_ICON">
          <label>Lorem ipsum dolor</label>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 marketing-alerts">
      <div class="section-title col-md-12">
        <h4>Marketing Communications</h4>
        <a>Edit</a>
      </div>

      <div class="row">
        <div class="col-md-8 content-sub-title">
          <label>We like to keep our clients informed about exclusive offers,
            promotions, new product releases, and other useful information through email.
          </label>
        </div>

        <div class="col-md-12">
          <img [src]="OK_ICON">
          <label>Subscribe to all</label>
        </div>
      </div>
    </div>
  </div>

</section>
