<section class="registration-wrapper">
  <form [formGroup]="registerForm">
    <div class="form-group">
      <input class="form-control" type="text" formControlName="firstName" placeholder="First Name">

      <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
    </div>

    <div class="form-group">
      <input class="form-control" type="email" formControlName="email" placeholder="Email">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" formControlName="password" placeholder="Password (4-20 Characters)">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" formControlName="confirm-password" placeholder="Confirm Password">
    </div>

    <div>
      <button (click)="register()" type="submit" class="btn btn-default">Register</button>
    </div>

  </form>
</section>
